html
	head
		include head.jade
	body.container
		h1
			| Let's 
			del play
			|  solve Countdown!
		div
			p Either type your own anagram below or hit shuffle.
		div.row
			div.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6
				input.form-control.input-lg#board(value=anagram onkeypress='checkEnter(event)')
		div
			button.btn.btn-lg.btn-success(type='button' onclick='submit()') Solve
			// a.btn.btn-sm.btn-info(href='/') New letters
			button.btn.btn-sm.btn-info(type='button' onclick='reset()') New letters
		div#results_frame
			h2 Best answers:
			if bestAnswers !== undefined
				if bestAnswers.length > 0
					- var bestLength = bestAnswers[0].length
					div.row#results
						p= bestLength + ' letters'
						each val in bestAnswers
							if val.conundrum
								h2.col-xs-12.result
									em= val.word
							else if val.length < bestLength
								p.col-xs-6.col-sm-4.col-md-3.col-lg-2.result
									small= val.word
							else
								p.col-xs-6.col-sm-4.col-md-3.col-lg-2.result
									strong= val.word
				else
					div.row#results
						p No words found
			else
				div.row#results
					p Hit solve to find out!
		include footer.jade
		script
			include ../dist/submit.min.js