html
	head
		include head.jade
	body
		h1
			| Let's 
			del play
			|  solve Countdown!
		div
			p Either type your own anagram below or hit shuffle.
		div
			input#board(value=anagram)
		div
			button(type='button' onclick='submit()') Solve
			a(href='/') Shuffle
		div#results
			h2 Best answers:
			if bestAnswers !== undefined
				if bestAnswers.length > 0
					- var bestLength = bestAnswers[0].length
					p= bestLength + ' letters'
					each val in bestAnswers
						if val.length === anagram.length
							h2
								em= val
						else if val.length < bestLength
							p
								small= val
						else
							p
								strong= val
				else
					p No words found
			else
				p Hit solve to find out!
		include footer.jade
		script
			include ../dist/submit.min.js